apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
metadata:
  labels:
    app: sentry
    role: cron
  name: sentry-cron
  namespace: sentry
spec:
  replicas: {{ replica_count }}
  selector:
    app: sentry
    role: cron
  strategy:
    activeDeadlineSeconds: 21600
    resources: {}
    rollingParams:
      intervalSeconds: 1
      maxSurge: 25%
      maxUnavailable: 25%
      timeoutSeconds: 600
      updatePeriodSeconds: 1
    type: Rolling
  template:
    metadata:
      labels:
        app: sentry
        role: cron
    spec:
      containers:
        - args:
            - run
            - cron
          env:
            - name: SENTRY_SECRET_KEY
              value: {{ sentry_secret_key }}
            - name: SENTRY_POSTGRES_HOST
              value: postgresql
            - name: SENTRY_POSTGRES_PORT
              value: '5432'
            - name: SENTRY_DB_NAME
              value: {{ postgresql_initial_database }}
            - name: SENTRY_DB_USER
              value: {{ postgresql_username }}
            - name: SENTRY_DB_PASSWORD
              value: {{ postgresql_password }}
            - name: SENTRY_REDIS_HOST
              value: redis-haproxy
            - name: SENTRY_REDIS_PORT
              value: '6379'
          image: '{{ sentry_container_name }}:{{ sentry_container_tag }}'
          imagePullPolicy: Always
          name: sentry-cron
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
  test: false
  triggers:
    - type: ConfigChange