apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
metadata:
  labels:
    app: sentry
    role: web
  name: sentry-web
  namespace: sentry
spec:
  replicas: {{ replica_count }}
  selector:
    app: sentry
    role: web
  strategy:
    activeDeadlineSeconds: 21600
    resources: {}
    rollingParams:
      intervalSeconds: 1
      maxSurge: 25%
      maxUnavailable: 25%
      timeoutSeconds: 600
      updatePeriodSeconds: 1
    type: Rolling
  template:
    metadata:
      labels:
        app: sentry
        role: web
    spec:
      containers:
        - env:
            - name: SENTRY_SECRET_KEY
              value: {{ sentry_secret_key }}
            - name: SENTRY_POSTGRES_HOST
              value: postgresql
            - name: SENTRY_POSTGRES_PORT
              value: '5432'
            - name: SENTRY_DB_NAME
              value: {{ postgresql_initial_database }}
            - name: SENTRY_DB_USER
              value: {{ postgresql_username }}
            - name: SENTRY_DB_PASSWORD
              value: {{ postgresql_password }}
            - name: SENTRY_REDIS_HOST
              value: redis-haproxy
            - name: SENTRY_REDIS_PORT
              value: '6379'
            - name: SENTRY_EMAIL_HOST
              value: relay.usw1.prod.hco.ds
            - name: SENTRY_EMAIL_USER
            - name: SENTRY_EMAIL_PASSWORD
            - name: SENTRY_EMAIL_USE_TLS
              value: 'false'
            - name: SENTRY_EMAIL_PORT
              value: '25'
            - name: REQUESTS_CA_BUNDLE
              value: /usr/src/sentry/hosting/hostingrootca.pem
            - name: SENTRY_SERVER_EMAIL
              value: no-reply@percipio.com
          image: '{{ sentry_container_name }}:{{ sentry_container_tag }}'
          imagePullPolicy: Always
          name: sentry-web
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
{% if sentry_filestore_persistent_storage_exist %}
            - mountPath: /var/lib/sentry/files
              name: sentry-filestore
{% endif %}
            - mountPath: /usr/src/sentry/hosting/hostingrootca.pem
              name: hostingrootca
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
      volumes:
{% if sentry_filestore_persistent_storage_exist %}
        - name: sentry-filestore
          persistentVolumeClaim:
            claimName: sentry-filestore
{% endif %}
        - configMap:
            defaultMode: 420
            name: hostingrootca
          name: hostingrootca
  test: false
  triggers:
    - type: ConfigChange